{{#> layout title="Home"}}
<div class="p-2 py-md-5">
  <div
    class="container h-75 bg-white rounded-2 p-5 d-flex flex-wrap flex-md-nowrap"
  >
    <div>
      <div>
        <h3 class="fw-bold">Hi Welcome to my hut</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Corrupti explicabo necessitatibus labore cumque
          asperiores adipisci magni praesentium qui repellat tenetur voluptatum
          quos, nemo velit molestias. Fugiat officia neque doloribus vero, nam
          sed. Eos explicabo perferendis deleniti dolores labore, ratione
          inventore blanditiis quidem omnis doloremque neque obcaecati hic esse
          porro illo ex reprehenderit, similique ad voluptas, amet nihil
          architecto nostrum. Nisi fugiat minima magnam, sit sunt accusamus eum
          eos? Soluta vitae, architecto quisquam ab quae incidunt repellendus
          consequatur hic alias adipisci neque sint? Facere illum reprehenderit
          natus consectetur, mollitia eaque aut ad ut temporibus rerum tempore
          debitis ipsam numquam at ea!</p>
      </div>
      <div class="d-md-flex d-block">
        <button class="btn btn-dark rounded-5 px-4">Contact</button>
        <a
          href="./assets/files/Ripaldiansyah_CV.pdf"
          download="CV Ripaldiansyah.pdf"
          class="text-dark align-content-center"
        >
          <div class="d-flex align-items-center ms-md-3 my-md-0 my-2">
            <p class="m-0">download CV</p>
            <span class="material-symbols-outlined"> download </span>
          </div>
        </a>
      </div>
      <div class="text-center text-md-start my-3">
        <a href="https://www.linkedin.com/in/ripaldiansyah/" target="_blank">
          <span class="fa-stack fa-md text-dark">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-linkedin-in fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.instagram.com/ripaldiansyahhh/" target="_blank">
          <span class="fa-stack fa-md text-dark">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.facebook.com/ripal.char" target="_blank">
          <span class="fa-stack fa-md text-dark">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-facebook-f fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://x.com/ripal_11" target="_blank">
          <span class="fa-stack fa-md text-dark">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
    <div
      class="text-center shadow rounded-2 m-auto mx-md-4 col-9 col-md-5 h-25 col-lg-3"
    >
      <img
        src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="photo"
        class="w-100 rounded-top-2"
      />
      <h3 class="fw-bold mb-0 fs-6">Ripaldiansyah</h3>
      <p class="mt-0 fs-6">Fullstack Developer</p>
    </div>
  </div>
</div>
{{/layout}}

