{{#>layout title="My Project"}}
 <div class="text-center" >
        <img src="https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-2048x1462-azn7c8sp.png" alt="404 Image" class="w-50">
    </div>
{{/layout}}