<div class="col-12 col-md-6 col-lg-4 mt-3">
  <div class="card">
    <div class="placeholder-glow m-2" style="height: 300px;">
      <span class="placeholder col-12 rounded-2 h-100"></span>
    </div>

    <div class="card-body p-2">
      <h5
        class="card-title text-start fs-5 fw-medium mb-0 placeholder-glow"
      ><span class="placeholder col-12"></span></h5>
      <p class="card-subtitle text-start fs-6 mb-3 text-secondary"><span
          class="placeholder col-3"
        ></span></p>

      <p class="card-text placeholder-glow text-justify">
        <span class="placeholder col-6"></span>
        <span class="placeholder col-5"></span>
        <span class="placeholder col-5"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>

      <div class="d-flex my-4">
        <div
          class="placeholder-glow h-100 me-3"
          style="height: 100px; width: 40px; "
        >
          <span class="placeholder col-12 rounded-2 p-4"></span>
        </div>
        <div
          class="placeholder-glow h-100 me-3"
          style="height: 100px; width: 40px; "
        >
          <span class="placeholder col-12 rounded-2 p-4"></span>
        </div>
        <div
          class="placeholder-glow h-100 me-3"
          style="height: 100px; width: 40px; "
        >
          <span class="placeholder col-12 rounded-2 p-4"></span>
        </div>
        <div
          class="placeholder-glow h-100 me-3"
          style="height: 100px; width: 40px; "
        >
          <span class="placeholder col-12 rounded-2 p-4"></span>
        </div>

      </div>
      <div class="text-start w-100 d-flex gap-2">
        <div class="placeholder-glow w-100">
          <span class="placeholder col-12 rounded-2 p-3"></span>
        </div>
        <div class="placeholder-glow w-100">
          <span class="placeholder col-12 rounded-2 p-3"></span>
        </div>

      </div>
    </div>
  </div>
</div>